@import "./gruv.css";

* {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  background-color: @base;
  color: @highlightHigh;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #0e0a00;
  border: none;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0px;
}

#workspaces button:hover {
  color: @text;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button {
  /* padding: 0 5px; */
  color: @highlightLow;
  /* margin: 4px 0 4px 6px; */
  /* transition: color 200ms ease-in-out; */
  border-radius: 0px;
}

#workspaces button.selected {
  color: @highlightHigh;
}

#workspaces button.active {
  /* color: @base; */
  /* background-color: @orange; */
  /* border-left: 3px solid @orange; */
  color: @orange;
}

#workspaces button.urgent {
  color: @love;
}

#custom-notification,
#custom-music,
#custom-firefox,
#custom-signal,
#custom-kitty,
#custom-apps,
#custom-files,
#language,
#memory,
#bluetooth,
#clock,
#battery,
#cpu,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-pacman,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#backlight,
#tray,
#mpris {
  padding: 2px 0px;
  color: @highlightHigh;
}

/* #custom-power { */
/*     border-bottom: 1px solid @love; */
/* } */
/**/
/* #battery, */
/* #disk, */
/* #memory { */
/*   border-right: 3px solid @iris; */
/* } */
/**/
/* #bluetooth, */
/* #network { */
/*   border-right: 3px solid @iris; */
/* } */
/**/
/* #pulseaudio, */
/* #backlight { */
/*   border-right: 3px solid @orange; */
/* } */

#custom-separator {
  color: @highlightLow;
  /* margin: 1px 0px; */
}

/* #custom-apps { */
/*   padding: 0px 25px 0px 25px; */
/*   color: @love; */
/* } */

.modules-left > widget:first-child > #workspaces {
  /* margin-left: 2px; */
}

#custom-pacman {
  color: @gold;
}

#pulseaudio.muted {
  color: @highlightHigh;
}

#network.disconnected {
  color: @highlightHigh;
}

#battery.warning:not(.charging) {
  color: @love;
}

#custom-power {
  margin-top: 8px;
  color: @love;
  /* margin-bottom: 5px; */
  background: @base;
  margin-right: 4px;
  transition: all 0.5s;
}

#custom-power:hover {
  border-left: 3px solid @love;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  margin-right: 4px;
  transition: all 0.5s;
}

#custom-notification:hover {
  font-family: "NotoSansMono Nerd Font";
  border-left: 3px solid @orange;
}

#pulseaudio {
  padding-right: 3px;
}

#backlight {
  padding-right: 3px;
}

#network {
  padding-right: 3px;
}

#battery {
  padding-right: 7px;
}

#disk,
#memory {
  padding-right: 2px;
}
