@import "./gruv.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 14px;
  /* border-radius: 10px; */
  border-radius: 0px;
}

window#waybar {
  background-color: #000000;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  /* border-radius: 0px 0px 10px 10px; */
  border-radius: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #0e0a00;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  /* color: @pine; */
  color: @text;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button {
  padding: 0 5px;
  margin: 4px 0 4px 6px;
  transition: color 200ms ease-in-out;
  /* border-radius: 10px; */
  border-radius: 0px;
}

#workspaces button.selected {
  /* color: @pine; */
  color: @text;
}

#workspaces button.active {
  /* color: @pine; */
  border-bottom: 1px solid @rose;
  /* padding: 0px 25px 0px 25px; */
}

#workspaces button.urgent {
  color: @love;
}

#custom-music,
#custom-firefox,
#custom-signal,
#custom-kitty,
#custom-apps,
#custom-files,
#language,
#memory,
#bluetooth,
#clock,
#battery,
#cpu,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-pacman,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#backlight,
#mpris {
  padding: 0 9px;
  color: @rose;
  margin: 5px 0;
  border-bottom: 1px solid @highlightLow;
}

#custom-apps {
  padding: 0px 25px 0px 25px;
  /* border-bottom: 3px solid @highlightLow; */
  color: @love;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, loveuce left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 2px;
}

#custom-pacman {
  color: @gold;
}

#pulseaudio.muted {
  color: @highlightHigh;
}

#network.disconnected {
  color: @highlightHigh;
}

#battery.warning:not(.charging) {
  color: @love;
}

#custom-power {
  color: @love;
  margin-right: 5px;
  font-size: 18px;
  background: #000000;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
