@import "./rose-pine.css";

* {
  font-family: CaskaydiaCove Nerd Font;
  font-weight: bolder;
  font-size: 15px;
  /* border-radius: 10px; */
  border-radius: 0px;
}

window#waybar {
  background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  /* border-radius: 0px 0px 10px 10px; */
  border-radius: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  color: @pine;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button {
  padding: 0 5px;
  margin: 4px 0 4px 6px;
  transition: color 200ms ease-in-out;
  /* border-radius: 10px; */
  border-radius: 0px;
}

#workspaces button.selected {
  color: @pine;
}

#workspaces button.active {
  color: @pine;
}

#workspaces button.urgent {
  color: @love;
}

#language,
#memory,
#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-pacman,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#backlight,
#mpris {
  padding: 0 9px;
  color: @text;
  /* border-radius: 15px; */
  margin: 5px 0;
  background-color: @overlay;
}

#custom-music,
#custom-firefox,
#custom-signal,
#custom-kitty {
  color: @iris;
  padding: 0 3px;
}

#custom-kitty {
  margin-left: 10px;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, loveuce left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 2px;
}

#clock {
  color: @text;
}

#language {
  color: @text;
}

#custom-pacman {
  color: @gold;
}

#pulseaudio,
#backlight {
  color: @iris;
}

#pulseaudio.muted {
  color: @highlightHigh;
}

#network,
#bluetooth {
  color: @pine;
}

#network.disconnected {
  color: @highlightHigh;
}

#battery,
#memory {
  color: @foam;
}

#battery.warning:not(.charging) {
  color: @love;
}

#custom-power {
  color: @love;
  margin-right: 5px;
  font-size: 18px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
