window {
  margin: 0px;
  border: 2px solid #ebdbb2;
  background-color: #1d2021;
  /* background-color: #0d0d0d; */
}

#input {
  margin: 5px;
  border: none;
  /* color: #ebdbb2; */
  color: #ffffff;
  background-color: #282828;
  /* background-color: #0d0d0d; */
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1d2021;
  /* background-color: #0d0d0d; */
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1d2021;
  /* background-color: #0d0d0d; */
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ebdbb2;
  /* color: #ffffff; */
}

#entry:selected {
  background-color: #282828;
  /* background-color: #0d0d0d; */
}
